<div class="container">

  <form *ngIf="!loading" #noteForm="ngForm" (ngSubmit)="onSubmit(noteForm)">
    <div class="field">
      <span class="p-float-label">
        <input required [ngModel]="note.title" pInputText name="title" id="title" />
        <label htmlFor="title">Title</label>
      </span>
    </div>

    <br />

    <div class="field">
      <span class="p-float-label">
        <textarea [ngModel]="note.content" name="content" class="text-area" id="float-input" rows="5" cols="30" pInputTextarea></textarea>
        <!--<label htmlFor="float-input">Content</label>-->
      </span>
    </div>

    <p-colorPicker class="color-picker" [(ngModel)]="note.color" name="color"></p-colorPicker>

    <div class="field buttons">
      <p-button type="submit" styleClass="p-button-success" [disabled]="!noteForm.valid" label="Save"></p-button>
      <p-button styleClass="p-button-danger" label="Cancel" routerLink=""></p-button>
    </div>

  </form>
</div>
