.container {
    max-width: 500px;
    margin: auto;
    margin-top: 25px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: var(--green);
    padding: 50px;
}

.fields-wrapper {
  background-color: var(--green);
  padding: 20px;
}

.field {
    margin-top: 25px;
}

.field.buttons {
    width:250px;
    display:flex;
    justify-content:center;
    align-items: center;
    margin: 20px auto 20px auto;
}

.p-element {
  width: 100%;
  display:flex;
  justify-content:center;
}

.text-area {
    width: 250px;
}

.color-picker {
  width: 250px;
  display: flex;
}

.tag-label {
  padding-bottom: 5px;
  display: block;
}

.checklist-element {
    display: flex;
    justify-content: center;
    align-items: center;
}


