<div class="login-container">
  <form class="login-form" (ngSubmit)="onSubmit()">

    <span class="p-float-label">
      <input required [(ngModel)]="username" pInputText name="username" id="username" type="text" />
      <label htmlFor="title">Username</label>
    </span>

    <span class="p-float-label">
      <input required [(ngModel)]="password" pInputText name="password" id="password" type="text" />
      <label htmlFor="title">Password</label>
    </span>

    <p-button type="submit">Login</p-button>
  </form>
</div>
